<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/mallpublic.css' />
    <link rel='stylesheet' href='/stylesheets/mallhead.css' />
    <link rel='stylesheet' href='/stylesheets/malldetail.css' />  
  </head>
  <body>
    <%- include("./mallhead.ejs",{isshow:isShow,iscast:true,headername:name,isSeller:false,sellername:shopname})%>

    <div class="main">
      <div class="margin clearfix">
        <div class="main-l">
         <div class="main-imginfo">
           <img src="<%- info.pathname%>">
         </div>
        </div>
        <div class="main-r">
          <h3 class="prodetail"><%- info.detail%></h3>
          <p class="pronme"><%- info.proname%></p>
          <p class="type"><%- info.kindtype%></p>
          <div class="price-num">
            <p class="price"><i>价格：</i><%= info.price%></p>
            <p class="overnum"><i>库存：</i><b><%- info.num%></b></p>
          </div>
          <p class="purnum"><i>数量：</i><span class="clearfix"><b class="reduce">-</b><input type="num" name="" value="1" disabled="disabled"><b class="plus">+</b></span></p>
          <div class="opera">
            <i class="castinfo">成功加入购物车，请到购物车页面查看</i>
            <span class="cast">加入购物车</span>
            <span class="buy">立即购买</span>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation" class="pagenav" style="text-align:center">
      <ul class="pagination">
      </ul>      
    </nav>
    <script src="/bootstrap/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script>

        $(".nav").find("ul").find("li").find("a").on("click",function(){
                  var $text=$(this).text();
                  window.location.href=`/mallsellerlist?key=${$text}&attr=${""}&type=${""}`                 
        });

        var key;
        var attr;
        var type;
        var dataid;
        if(window.location.search.split("?").length>1){
          var keyword=window.location.search.split("?")[1].split("&");
          var keywordlength=window.location.search.split("?")[1].split("&").length;
          for(var i=0;i<keywordlength;i++){
            if(keyword[i].split("=")[0]=="key"){
              key=decodeURIComponent(keyword[i].split("=")[1]);
            }else if(keyword[i].split("=")[0]=="attr"){
              attr=decodeURIComponent(keyword[i].split("=")[1]);
            }else if(keyword[i].split("=")[0]=="type"){
              type=decodeURIComponent(keyword[i].split("=")[1]);
            }else if(keyword[i].split("=")[0]=="dataid"){
              dataid=decodeURIComponent(keyword[i].split("=")[1]);
            }
          }

        }
        //点击增加数量
        $(".purnum").find(".reduce").on("click",function(){
          let oNum=Number($(".purnum").find("input").val());
          if(oNum>1) {
            oNum-=1;
            $(".purnum").find("input").val(`${oNum}`)
          }
        })
        $(".purnum").find(".plus").on("click",function(){
          let oNum=Number($(".purnum").find("input").val());
          let overNum=$(".overnum").find("b").html();
          if(oNum<overNum) {
            oNum+=1;
            $(".purnum").find("input").val(`${oNum}`)
          }
        })
        //点击加入购物车
        $(".opera").find(".cast").on("click",function(){
          let onum=Number($(".purnum").find("input").val());
          let opronme=$(".pronme").html();
          $.ajax({
            url:"/mallcast/castjudge",
            data:{
                id:dataid,num:onum,name:opronme
            },
            success:(result)=>{
              if(result=="您还未登录，请登录"){
                $(".castinfo").html("您还未登录，请登录");
                $(".castinfo").show();
                setTimeout(function(){
                  $(".castinfo").hide();
                },1000);
              }else{
                $(".castinfo").html("成功加入购物车，请到购物车页面查看");
                $(".castinfo").show();
                setTimeout(function(){
                  $(".castinfo").hide();
                },1000);
              }
            }
        });
        })
        //点击购买
        $(".buy").on("click",function(){
          let onum=Number($(".purnum").find("input").val());
          let opronme=$(".pronme").html();
          window.location.href=`/mallbuy?id=${dataid}&num=${onum}&name=${opronme}`
        })




  //   function joincast(info){
  //   if(Object.keys(castlist).length!=0){
  //     var count=0;
  //     for(var key in castlist){
  //       console.log(key)
  //       if(key==info.rid){
  //         for(var i=0;i<castlist[key].length;i++){
  //           if(castlist[key][i].itemid==info.itemid){
  //             castlist[key][i].num++;
  //             break;
  //           }
  //           }
  //           if(i==castlist[key].length){
  //             var obj={};
  //             obj.itemid=info.itemid;
  //             obj.itempath=info.itempath;
  //             obj.iname=info.iname;
  //             obj.rname=info.rname;
  //             obj.num=1;
  //             obj.iprice=info.iprice;
  //             castlist[key].push(obj);
  //           }   
  //       }else{
  //         ++count;
  //       }
  //     }
  //     console.log(count,Object.keys(castlist).length)
  //     if(count==Object.keys(castlist).length){
  //       var obj1={};
  //       obj1.itemid=info.itemid;
  //       obj1.itempath=info.itempath;
  //       obj1.iname=info.iname;
  //       obj1.rname=info.rname;
  //       obj1.num=1;
  //       obj1.iprice=info.iprice;
  //       castlist[info.rid]=[obj1];
  //     }
  //   }else{
  //     var obj2={};
  //     obj2.itemid=info.itemid;
  //     obj2.itempath=info.itempath;
  //     obj2.iname=info.iname;
  //     obj2.rname=info.rname;
  //     obj2.num=1;
  //     obj2.iprice=info.iprice;
  //     castlist[info.rid]=[obj2];
  //   }
  //   localStorage.setItem('castinfo',JSON.stringify(castlist));
  // }
        //点击购买
				function sameajax(key,attr,type,url){
        $("#mainbody").empty();
        $(".pagination").empty();
        $.ajax({
            url:url,
            data:{
                limit:10,offset:0,key:key,type:type
            },
            success:(result)=>{
              console.log(result)
                renderlist(result.info);
                renderpage(result.total,key,attr,type);
            }
        });
        function renderlist(list){
                var $oLi=""
                for(var i=0;i<list.length;i++){
                 $oLi += `<li>
                              <div class="li-header"><img src="${list[i].pathname}"></div>
                              <div class="li-body">
                                <h3><span>品名：${list[i].proname}</span><span>价格：${list[i].price}</span></h3>
                                <h4>${list[i].detail}</h4>  
                                <p><span>库存：${list[i].num}</span><span>生产日期：${list[i].date}</span></p>
                                <p><span>店主：${list[i].author}</span></p>
                              </div>
                              <div class="li-footer">
                                  <a class="btn btn-default" href="#" role="button">查看产品详情</a>
                              </div>
                          </li>`
            }
            $("#mainbody").html(`${$oLi}`);
        };
        function renderpage(page,key,attr,type){
            for(var i=0;i<page;i+=10){
                $li = $("<li class="+attr+">").html(`<a>${i/10+1}</a>`);
                if($li.attr("class")==attr){
                    $li.click(function(){
                    $(this).find("a").addClass("red").parents("li").siblings("li").find("a").removeClass("red");
                    rerenderlist($(this).index(),key,type);
                })
                }
                $(".pagination").append($li);
            }

        };
        function rerenderlist(index,key,type){
            $("#mainbody").empty();
            $.ajax({
                url:"/mallindex/relist",
                data:{limit:10,offset:index*10,key:key,type:type},
                success:(result)=>{
                 console.log(result) // 箭头函数解决this 指向
                renderlist(result.info);
                }
            })
        }
      }
      // if(key!="全部产品"){
      //   sameajax(key,"kindpage","kindtype","/mallindex/list")
      // }else{
      //   sameajax(key,"kindpage","kindtype","/mallindex/relist")
      // }
      


      // $(".nav").find("ul").find("li").find("a").on("click",function(){
      //           var $text=$(this).text();
      //           sameajax($text,"kindpage","kindtype","/relist")    
      // });
        
      //   $(".dropdown").find(".dropdown-menu").find("li").on("click",function(){
      //               $(".selected").text($(this).text());
      //   })

 
      //   $(".searchbtn").on("click",function(){
      //       if($(".selected").text()=="产品名称"){
      //           sameajax($(".form-control").val(),"productname","proname","/relist")
      //       }else if($(".selected").text()=="日期"){
      //           sameajax($(".form-control").val(),"productdate","date","/relist")
      //       }
      //   }) 
      </script>
  </body>
</html>
